.box{
    background-color: rgb(224, 234, 143);
    width: 500px;
    height: 600px;
    border: 5px;
    border-color: brown;
    border-style:inset;
}
.image{
border: 5px;
border-style:inset;
border-color: coral;
margin:30px;
}
.p{
    border: 5px;
    border-style: dashed;
    border-color: bisque ;
    margin: 30px;
}