.button{
    background-color: red;
    width: 100px;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}
.button:hover{
    background-color: rgb(135, 194, 245);
    border-radius: 30px;
}
.button:active{
    background-color: rgb(106, 53, 53);
    border-radius: 100px;
}